
@media screen and (min-width: 360px) {
    #logo {
        height: 125px;
        width: 125px;
    }        
}
@media screen and (min-width: 481px) {
    #logo {
        height: 175px;
        width: 175px;
    }        
}

@media screen and (min-width: 768px) {
    #logo {
        height: 250px;
        width: 250px;
    }        
}
@media screen and (min-width: 1024px) {
    #logo {
        height: 300px;
        width: 300px;
    }        
}

#logo {
    animation: fill-anim 16s ease forwards ;
}        

#logo path {
    stroke-dasharray: 30px;
    stroke:#096a2e;
}
#logo path:nth-child(1)
{
    stroke-dasharray: 2136;
    stroke-dashoffset: 2136;
    animation: line-anim 16s ease forwards 1s;
}

#logo path:nth-child(2)
{
    stroke-dasharray: 1255;
    stroke-dashoffset: 1255;
    animation: line-anim 4s ease forwards;
}


@keyframes line-anim {
    to {
       stroke-dashoffset: 0; 
    }
}

@keyframes fill-anim {
    from {
        fill:transparent;
    }
    to {
        fill:#096a2e;
    }
}
